#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

/* .card {
  padding: 2em;
} */

.csv-table-container {
  max-width: 100%;
  overflow-x: auto;
}

.csv-table {
  width: auto;
  table-layout: auto;
}


.module {
  max-width: 100vh;
  padding: 1rem;
  color: white;
  border-width: 6px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to top, /*to bottom*/
      #00d4ff, 
      #ab16d7,
      #c4be79      
    ) 1 /*100%*/;
    
    
}

.main{    
  margin: 2rem;
  /* opacity: 80%; */
  background-color: #ffe5f3;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}


